<div class="main">
  
    <div class="categories">
        <div class="category"*ngFor="let category of categories">
            <div class="img">
                <img src="{{category.img}}" alt="{{category.name}} img" class="categoryImg">
                <div class="tags"><span>Tags:</span>{{category.tags}}</div>
            </div>
            <div class="catContent">
                <div class="title">{{category.title}}</div>
                <div class="description">{{category.description}}</div>
                <button routerLink="/category/{{category.name}}">MORE</button>
            </div>
            
            
        </div>
    </div>
    <div class="social">
            <img src="./assets/facebook.png" alt="faebook" />
            <img src="./assets/twitter.png" alt="twitter" />
            <img src="./assets/pinterest.png" alt="pinterest" />
    </div>
</div>