.main {
  margin-top: -120px;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 888px) {
    margin-top: 0px;
  }
}

.face {
  display: flex;
  height: calc(100vh - 120px);
  transition: background-color 0.5s;
  z-index: 5;
  justify-content: space-between;
  position: relative;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .img {
    position: absolute;
    padding: 120px 200px;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0%);
    transition: transform 0.3s, margin-top 0.5s ease-out, opacity 0.5s ease-out;

    &.desktop {
      padding: 40px 200px;
      @media screen and (max-width: 888px) {
        padding: 80px 80px;
        padding-bottom: 200px;
      }
      @media screen and (max-width: 600px) {
        padding: 80px 20px;
        padding-bottom: 200px;
      }
    }
    @media screen and (max-width: 1080px) {
      padding: 40px 200px;
      padding-bottom: 200px;
    }
    @media screen and (max-width: 888px) {
      padding: 80px 80px;
      padding-bottom: 200px;
    }
    @media screen and (max-width: 600px) {
      padding: 80px 20px;
      padding-bottom: 200px;
    }

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      align-items: center;
    }
  }

  .information {

    position: relative;
    z-index: 1;
    padding: 40px;
    max-width: 400px;
    @media screen and (max-width: 600px) {
      max-width: 200px;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateX(0%);
    transition: transform 0.3s;
    button {
      padding: 0.8em 3em;
      padding-top: 1em;
    }
    h2 {
      display: flex;
      flex-direction: column;
      font-size: 2em;

      .categoryTitle {
        color: white;
      }
      .itemTitle {
        color: #333;
      }
    }
    .prise {
      color: #333;
      font-weight: bold;
    }
  }
  .gallery {
    position: relative;
    z-index: 1;
    padding-right: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  button {
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    border-width: 0px;
    font-family: "HK Grotesk Bold";
    font-size: 0.8em;
    letter-spacing: 0.2em;
  }
  .slide {
    display: flex;

    .but {
      &.left {
        transform: rotate(180deg);
        margin-right: 10px;
      }
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 100%;
      background-image: url("/assets/arrowBlack.png");
      background-size: 10px 10px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      &.lock {
        background-color: #333;
        background-image: url("/assets/arrow.png");
      }
    }
  }
  .SlidingNext {
    transform: translateX(100vw);
    animation: next 0.3s ease-in-out;
    @keyframes next {
      from {
        transform: translateX(0);
        opacity: 1;
      }
      99% {
        transform: translateX(-100vw);
        opacity: 1;
      }
      99.5% {
        transform: translateX(-100vw);
        opacity: 0;
      }
      to {
        transform: translateX(100vw);
      }
    }
  }
  .SlidingPrev {
    transform: translateX(-100vw);
    animation: prev 0.3s ease-in-out;
    @keyframes prev {
      from {
        transform: translateX(0);
        opacity: 1;
      }
      99% {
        transform: translateX(100vw);
        opacity: 1;
      }
      99.5% {
        transform: translateX(100vw);
        opacity: 0;
      }
      to {
        transform: translateX(-100vw);
      }
    }
  }
}
.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(50vh - 50px);
  z-index: 6;
  opacity: 0;
  left: calc(50% - 50px);
  transition: opacity 0.3s;

  &.SlidingNext {
    opacity: 1;
  }
  &.SlidingPrev {
    opacity: 1;
  }
}
.bottomNav {

  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  padding: 0 40px;
  @media screen and (max-width:600px){
    padding:0px;
  }

  min-height: 120px;
  width: 100%;
  bottom: 0;
  background-color: white;
  position: absolute;
  z-index: 6;
  height: 120px;

  transition: height 0.5s ease-out;
  @media (hover: none) and (pointer: coarse) {
    transition: height 0.3s;
  }
  &::after {
    @media (hover: none) and (pointer: coarse) {
      content: "";
      display: block;
      position: absolute;
      z-index: 7;
      top: calc(35px / 2);
      width: 300px;
      left: calc(50% - 150px);
      height: 5px;
      border-radius: 10px;
      background-color: #aaa;

      @media screen and (max-width:600px){
        width: 200px;
        left: calc(50% - 100px);   
      }
           
      
    }
  }

  .preBottom {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #aaa;
    position: relative;
    line-height: 40px;
    opacity: 1;
    padding-top:40px;
    transition: opacity 0.5s;
    @media (hover: none) and (pointer: coarse) {
      display: none;
    }
    .scroll {
      line-height: 1em;
      position: absolute;
      left: calc(50% - 100px);
      display: flex;
      align-items: center;
      width: 200px;

      .scrollDown {
        margin-right: 20px;
        width: 20px;
        height: 35px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #aaa;
        border-radius: 12.5px;
        @media (hover: none) and (pointer: coarse) {
          display: none;
        }
        &::after {
          content: "";
          display: block;
          border: 2px solid #aaa;
          border-radius: 4px;
          animation: scroll 1.5s infinite;
        }
      }
    }
  }

  .more {
    height:calc(100% - 40px);
    position: relative;
    padding:20px;
    padding-bottom:80px;
    max-width:600px;
    overflow: hidden;
    @media screen and (max-width:888px){
      overflow-y: scroll;
    }
    @media screen and (max-width:600px){
      padding-bottom:40px;
    }
    overflow-x: hidden;
    color: #333;
    margin: 0 auto;
    padding-bottom: 0;
    @media (hover: none) and (pointer: coarse) {
    margin-top:40px;
    }
    .text {
      width: calc(100% - 80px);
      @media screen and (max-width:600px) {
        width:100%;
      }
      .mainText {
        @media (hover: hover) and (pointer: fine) {
          opacity: 0;
          transition: opacity 0.5s;
        }
        h2 {
          font-size: 2.2em;
          line-height: 1em;
          margin: 20px 0;
        }
        .description {
          margin: 0;
          font-size: 1.3em;
          line-height: 1.5em;
          color: #777;
          margin: 10px 0;
        }
      }
      .state {
        display: none;
        flex-direction: column;
        opacity: 0;
        animation: showDescription 0.8s ease-out  forwards;
        
        .group {
          font-size: 1.2em;
          display: flex;
          align-items: center;
          height: 60px;
          max-width:600px;

          border-top: 1px solid #ccc;
          &Title {
            display: flex;
            align-items: center;
            font-weight: bold;
            height: 100%;
            width: 100px;
            margin-right: 20px;
            animation: showDescription 0.8s 0.1s ease-out  forwards;
          }
          &Info {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            animation: showDescription 0.8s 0.2s ease-out  forwards;
            span:not(:first-of-type):before {
              content: ",";
            }
          }
        }
        .color {
          padding: 15px;
          border-radius: 15px;
          margin-right: 10px;
        }
      }
    }

    @keyframes showDescription {
      0% {
        opacity: 0;
        transform: translateX(50px);
      }
      50% {
        opacity: 0;
        transform: translateX(50px);
      }
      100% {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }

  @keyframes scroll {
    0% {
      transform: translateY(-10px);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }
}
.social {
  margin:0 auto;
  position: absolute;
  bottom:0px;
  padding:40px;
  @media screen and (max-width : 600px){
  padding:20px; 
  }
  display: none;
  background-color: white;
  width:100%;
  
  z-index: 3;
  justify-content: space-between;

  justify-content: flex-start;
  opacity: 0;
  transition: opacity 0.3s;
  animation: showDescription 0.8s 0.3s ease-out forwards;
  a{
      display: block;
      width: 10px;
      height: 10px;
      opacity: 0.7;
      margin-right:20px;

  }
  img {
      width: 10px;
      height: 10px;  
  }
}