<div class="main" [appBottomNav]="[bottomNav,preBottom,image,preloader,hiddenBlock,mainText,more,social,information]">
    <div class="face" [ngStyle]="{'background-color':currentItem.mainColor}">

        <div class="information" [class.SlidingNext]="SlidingNext" [class.SlidingPrev]="SlidingPrev" >
            <h2 #information>
                <span class="categoryTitle">
                    {{currentCategory.title}}
                </span><span class="itemTitle">
                    {{currentItem.title}}
                </span>
            </h2>
            <div class="prise">
                {{currentItem.prise}}
            </div>
            <div class="button">
                <button>BUY</button>
            </div>
        </div>
        <div class="img" #image [class.desktop]="currentItem.height>1" [class.SlidingNext]="SlidingNext"
            [class.SlidingPrev]="SlidingPrev">

            <img src="{{currentItem.imgURL}}" alt="{{currentItem.title}}">
        </div>
        <div class="mask">

        </div>
        <div class="gallery">

            <div class="slide">
                <div class="but left" *ngIf="prevItemName" (click)="changeItem(prevItemName)"></div>
                <div class="but left lock" *ngIf="!prevItemName"></div>
                <div class="but right" *ngIf="nextItemName" (click)="changeItem(nextItemName)"></div>
                <div class="but right lock" *ngIf="!nextItemName"></div>
            </div>
        </div>
    </div>
    <img src="/assets/loader.svg" class="loader" #preloader alt="Loading..." [class.SlidingNext]="SlidingNext"
        [class.SlidingPrev]="SlidingPrev">
    <div class="bottomNav" #bottomNav>
        <div class="preBottom" #preBottom>
            <div class="bottomtext">
                A better buying experience.
            </div>
            <div class="scroll">
                <div class="scrollDown">

                </div>
                EXPLORE TRE STORE
            </div>


        </div>
        <div class="more" #more>
            <div class="text">
                <div class="mainText" #mainText>
                    <h2>Intro</h2>
                    <p class="description">{{currentItem.description}}</p>
                </div>

                <div class="state" #hiddenBlock>
                    <h2>Product detail</h2>
                    <div class="groups">
                        <div class="group">
                            <div class="groupTitle">Size</div>
                            <div class="groupInfo" *ngIf="currentItem && currentItem.size">
                                {{currentItem.size.join("x")}}
                            </div>
                        </div>
                        <div class="group">
                            <div class="groupTitle">Color</div>
                            <div class="groupInfo">
                                <div class="color" *ngFor="let color of currentItem.colors"
                                    [ngStyle]="{'background-color':color}"></div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="groupTitle">Material</div>
                            <div class="groupInfo">
                                <span *ngFor="let material of currentItem.material">
                                    {{material}}
                                </span>
                            </div>
                        </div>
                    </div>    

                </div>
               
            </div>
            
        </div>
        <div class="social" #social>
                <a href="https://www.facebook.com/musicshopinverness/" target="_blank"><img src="./assets/facebook.png" alt="faebook" /></a>
                <a href="https://twitter.com/myartsmusic" target="_blank"><img src="./assets/twitter.png" alt="twitter" /></a>
                <a href="https://www.pinterest.ru/IMCTucson/" target="_blank"><img src="./assets/pinterest.png" alt="pinterest" /></a>
        </div>
    </div>
</div>