<div class="main" [appBottomNav]="[bottomNav,preBottom,image,preloader,hiddenBlock]">
    <div class="face" [ngStyle]="{'background-color':'rgba('+currentCategory.color+',1)'}">

        <div class="information" [class.SlidingNext]="SlidingNext" [class.SlidingPrev]="SlidingPrev">
            <h2>
                <span class="categoryTitle">
                    {{currentCategory.title}}
                </span><span class="itemTitle">
                    {{currentItem.title}}
                </span>
            </h2>
            <div class="prise">
                {{currentItem.prise}}
            </div>
            <div class="button">
                <button>BUY</button>
            </div>
        </div>
        <div class="img" #image [class.desktop]="currentItem.height>1" [class.SlidingNext]="SlidingNext"
            [class.SlidingPrev]="SlidingPrev">

            <img src="{{currentItem.imgURL}}" alt="{{currentItem.title}}">
        </div>
        <div class="mask">

        </div>
        <div class="gallery">

            <div class="slide">
                <div class="but left" *ngIf="prevItemName" (click)="changeItem(prevItemName)"></div>
                <div class="but left lock" *ngIf="!prevItemName"></div>
                <div class="but right" *ngIf="nextItemName" (click)="changeItem(nextItemName)"></div>
                <div class="but right lock" *ngIf="!nextItemName"></div>
            </div>
        </div>
    </div>
    <img src="/assets/loader.svg" class="loader" #preloader alt="Loading..." [class.SlidingNext]="SlidingNext"
        [class.SlidingPrev]="SlidingPrev">
    <div class="bottomNav" #bottomNav>
        <div class="preBottom" #preBottom>
            <div class="bottomtext">
                A better buying experience.
            </div>
            <div class="scroll">
                <div class="scrollDown">

                </div>
                EXPLORE TRE STORE
            </div>


        </div>
        <div class="description" #hiddenBlock>
            <div class="text">
                <h2>{{currentItem.title}}</h2>
                <p>{{currentItem.description}}</p>
            </div>
            <div class="other">
                <div class="card" *ngFor="let card of rndItems" [ngStyle]="{'background-color':'rgb('+currentCategory.color+')'}">
                    <img src="{{card.imgURL}}" alt="{{card.title}}" routerLink="/goods/{{card.name}}">
                </div>
            </div>
        </div>
    </div>
</div>