<div class="main">
    <nav class="nav">
        <ul class="topNav" >
            <li class="point" *ngFor="let point of nav[0].points">{{point.name}}</li>
        </ul>
        <ul class="bottomNav">
                <li class="point" *ngFor="let point of nav[1].points">{{point.name}}</li>

        </ul>
        <div class="toTop"></div>
    </nav>
    <div class="categories">
        <div class="category"*ngFor="let category of categories">
            <div class="img">
                <img src="{{category.img}}" alt="{{category.name}} img" class="categoryImg">
                <div class="tags"><span>Tags:</span>{{category.tags}}</div>
            </div>
            <div class="catContent">
                <div class="title">{{category.name}}</div>
                <div class="description">{{category.description}}</div>
                <button>MORE</button>
            </div>
            
            
        </div>
    </div>
    <div class="social">
            <img src="./assets/facebook.png" alt="faebook" />
            <img src="./assets/twitter.png" alt="twitter" />
            <img src="./assets/pinterest.png" alt="pinterest" />
    </div>
</div>