<div class="wrapp">
    <div class="mask">
        <div class="login">
            <div class="left">
                <form>
                    <h2>
                        Welcome back
                    </h2>
                    <label>
                        Login
                        <input type="text">
                    </label>
                    <label>
                        Password
                        <input type="password">
                    </label>
                    <div class="buttons">
                            <div class="logButton">Sign in</div>
                            <div class="forgotButton">Forgot your password?</div>
                    </div>
                    
                </form>
            </div>
            <div class="right">
                <div class="rightContent">
                    <div class="regTitle">
                        <h2>Join us now!</h2>
                        <span>in awesome musical shop</span>
                    </div>
                    <div class="regButton">Sign up</div>
                </div>
            </div>
        </div>
    </div>
</div>